@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'IBM Plex Sans', sans-serif;

  background-color: #F9F6EE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div .whole-container{
  padding: 10px;
  max-width: 1300px;
  margin: 0 auto;
}
img{
  max-width: 100%;
}
header{
  display: fixed;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
  margin-top: 10px;
}

header a{
  text-decoration: none;
  color: #1528A1;
  font-weight: bold;
}
.navigation-bar{
  display: flex;
  height: 70px;
  position: relative;
}

header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap:15px;
}

.sticky{
  background-color: #F9F6EE;
  position: sticky;
  display: flex;
  top:0;
  width: 100%;
  height: 70px;
  z-index: 100;
  box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.1);  
}

.nav-scroll{
  position: absolute;
  background-color: red;
  width: 100%;
  height: 3px;
  bottom: 0;
  /* transform: translateX(-50%) */
  transition: all 0.1s ease-out;
}
div .posts{
   display: grid;
   grid-template-rows: 1fr;
   gap: 20px;
   margin-bottom: 30px;
   /* border: 1px solid black; */
   position: relative;
}
.postImg{
  position: relative;
  display: inline-block;
  object-fit: contain;

}
.postImg::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 53, 188, 0.75);
}

.postImg .img{
  display: block;
  max-width: 100%;
  height: auto;
}
.posts-content{
  position: absolute;
  bottom: 0;
  padding-left: 30px;
  color: #fff;
}
div .posts-content .title{
  margin: 0;
  font-size: 3.5rem;
  max-width:800px;
  color: #fff;
  text-decoration: none;
}
div .posts-content .title:hover{
  text-decoration: underline;
  cursor: pointer;
}
div .posts-content p{
  /* margin-top: 3rem; */
  font-size: 1.05rem;
}
div .posts-content .summary{
  line-height: 25px;
}
div .posts .post-info{
  display: flex;
  align-items: center;
  gap: 30px;
  color:#696666;
  font-size: 0.9rem;
  white-space: nowrap;
}
.posts-credits{
  display: flex;
  align-items: center;
  max-width: 500px;
  /* border: 1px solid red; */
  gap: 70px;
  /* justify-content: space-between; */
}
.posts-members .author{
  margin-top: 10px;
  font-weight: 500;
  color: #fff;
  cursor: default;
  font-size: 19px;
  font-weight: bold;
}
.author:hover{
  text-decoration: underline;
  cursor: pointer;
}

.posts-members{
  display: flex;
  flex-direction: column;
}
.posts-members .written{
  font-size: 15px;
  margin-bottom: -1px;
  /* font-weight: bold; */
}
.post-published{
  margin-top: -19px;
  font-size: 15px;
  font-weight: 100;
}

/* login css */

.form-container{
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: 0 auto;
  gap:10px;

}
.form-inputField{
   height: 40px;
   background-color: #dfdede;
   padding-left: 15px;
   border: 1px solid #a7a3a3;
    border-radius: 4px;
    font-size: 1rem;
    color: #746f6f;

}
.form-inputField:focus{
  outline: 1px solid rgb(63, 62, 62);
}
.form-button{
  height: 45px;
  color: white;
  background-color: #000;
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
}
.form-button:hover{
  background-color: #181717;
}
.form-type{
  font-size:2.5rem;
}

.user-detail{
  display: flex;
  align-items: center;
  gap: 1rem;
  
}
.user-detail .logout{
  height: 30px;
  width: 80px;
  border: 1px solid white;
  outline: none;
  background-color: black;
  color: white;
  border-radius: 6px;
}
.user-detail button:hover{
  background-color: #2e2c2c;
  cursor: pointer;
}
.create-post{
  white-space: nowrap;
  height: 30px;
  width: 100px;
  border: 1px solid white;
  outline: none;
  background-color: black;
  color: white;
  border-radius: 6px;
}

.welcome-user{
  font-weight: bold;
}

/* Create Post */
.create-postContainer{
  display: flex;
  flex-direction: column;
  max-width: 1050px;
  margin: 0 auto;
  gap: 6px;
}
.create-postContainer label{
  color: #696666;
  font-size: 1.1rem;
}
.create-postContainer input{
  height: 35px;
  padding-left: 15px;
}
/* input[type="file"] {
  display: none;
}
.custom-file-upload{
  max-width: 300px;
  border: 1px solid #ffffff;
  padding: 6px 12px;
  cursor: pointer;
  margin: 10px 0 10px 0;
  background-color: #000;
  border-radius: 6px;
  white-space: nowrap ;
}
.custom-file-upload:hover{
  color: white;
  background-color: #242222;
} */
.post-class{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create-btn{
  padding: 10px;
  width: 10rem;
  white-space: nowrap;
  color: white;
  background-color: #000;
  border: 1px solid white;
  border-radius: 6px;
}
.create-btn:hover{
  background-color: #242222;
}

.post-title{
  margin-top: 2rem;
}
.post-title:hover{
  text-decoration: underline;
  cursor: default;
}
.post-image{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  object-fit: contain;
  text-align: center;
}
.post-image img{
  width: 100%;
  max-width: 1000px;
  max-height: 440px;
  text-align: center;
  margin: 0;
  object-fit: cover;
}
.post-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 870px;
}
.post-description{
  line-height: 38px;
}


/* related-article-container */

.grid-article{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: 400px 400px 400px; */
  gap: 10px;
  /* position: relative; */
}
.grid-article-contents{
  position: relative;
  /* border: 1px solid red; */
  min-height: 500px;
}
.grid-article-image{
  position: relative;
  display: inline-block;
  object-fit: contain;
  min-height: 283px;
  /* min-width:400px; */
  width: 100%;
}
.grid-article-image::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3449c399;
  min-height: 283px;
}
.grid-article-image .img{
  display: flex;
  width: fit-content;
  height: 283px;
  /* filter: sepia(95%) hue-rotate(190deg) saturate(400%); */
  object-fit: cover;
}
.grid-article-title{
  /* display: flex; */
  /* border: 1px solid red; */
  /* align-items: flex-start; */
  justify-content: space-between;
  display: flex;
}
.arrow-icon{
  color: #17298C;
  /* transform: translateZ(0px);   */
  transition: all 0.4s ease-out;
  width: 20px;
  height: 50px;
}
/* .hovered{
  transform: translateY(-2px) translateX(3px) ;
    transition: all 0.4s ease-out;
} */
.grid-article-title h1{
  color: #17298C;
  font-weight: 800;
  font-size: 24px;
  padding-left: 2px;
}
.grid-article .grid-article-contents p{
  color: #9da3c7;
  padding-left: 4px;
  margin: 0;
}




/* media-queries */

@media only screen and (max-width: 1000px)  {
 
.grid-article{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  /* grid-template-columns: 400px 400px 400px; */
  gap: 10px;
  /* position: relative; */ 
 }
 div .posts-content .title{
  font-size: 2rem;
  max-width: 450px;
 }
 .grid-article-image{
    display: flex;
    width: 100%;
 }
 .img{
  min-width:436px;
  object-fit: fill;
 }
}